<template name="questionType">
  <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title">Specify Question Type</h2>
                </div>

                <div class="modal-body">
                  <div class="answers-radio">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary btn-lg active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> True/False
                      </label>
                      <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Slider
                      </label>
                      <label class="btn btn-primary btn-lg">
                        <input type="radio" name="options" id="option3" autocomplete="off"> Short Answer
                      </label>
                    </div>
                  </div>
              </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-lg btn-block" onclick="submitSurvey()">Insert Question</button>
                  <button type="button" class="btn btn-default btn-lg btn-block"  data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>
