<template name = "aloneinfo">
  <div class="head">
    <h1>Quitting Smoking: Going it alone</h1>
  </div>
  <div class="yield">
    <h4>
      When you "go it alone" you try to stop or cut down on smoking without the help of doctor.
      <br />This could involve:
    </h4>
    <ul>
      <li>Buying over-the-counter nicotine replacement products such as patches, gum, lozenges, or inhalers</li>
      <li>Quitting &ldquo;cold turkey&rdquo; or stopping all at once</li>
      <li>Joining a support group</li>
      <li>Using Quitline services (1-800-QUIT-NOW)</li>
      <li>Using e-cigarettes to help you stop smoking regular cigarettes</li>
    </ul>
    <br />
    <div class="row">
      <div class="col-left">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 style="text-align: center;">Benefits</h2>
          </div>
          <div class="panel-body">
            <h4><span style="text-decoration: underline;">Health</span></h4>
            <p>If you quit:</p>
            <ul>
              <li>You will have lower risk of serious diseases, such as cancer, heart disease, and stroke.</li>
              <li>You can add years to your life. </li>
            </ul>
            <h4><span style="text-decoration: underline;">Cost</span></h4>
            <p>If you quit, you will save money, around $1,814 per year.</p>
            <h4><span style="text-decoration: underline;">Side Effects</span></h4>
            <p>If you quit &ldquo;cold turkey&rdquo;, use Quitline services, or join a support group you will not experience any side effects.</p>
            <h4><span style="text-decoration: underline;">Withdrawal Symptoms</span></h4>
            <p>If you quit using nicotine replacement products, your nicotine cravings and withdrawal symptoms may be reduced</p>
            <h4><span style="text-decoration: underline;">Support</span></h4>
            <p>If you quit using Quitline services or join a support group, you will receive advice and encouragement from people going through the same thing</p>
            <h4><span style="text-decoration: underline;">Chances for Success</span></h4>
            <p>
              <span># out of 100 successfully quit without any assistance </span><br />
              <span># out of 100 successfully quit using NRT without additional help</span><br />
              <span># out of 100 people successfully quit using support groups</span><br />
              <span># out of 100 people successfully quit using quitline services</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-right">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 style="text-align: center;">Risks</h2>
          </div>
          <div class="panel-body">
            <h4><span style="text-decoration: underline;">Health</span></h4>
            <p>Your appetite may increase</p>
            <h4><span style="text-decoration: underline;">Cost</span></h4>
            <p>You may have to pay for things such as nicotine replacement products out of pocket</p>
            <h4><span style="text-decoration: underline;">Side Effects</span></h4>
            <p>If you quit using nicotine replacement products, side effects may include:</p>
            <ul>
              <li>Hiccups, dizziness, headache, upset stomach, nausea, trouble sleeping</li>
              <li>Skin irritation from patch</li>
              <li>Jaw pain</li>
              <li>Mouth, nose, or throat irritation</li>
              <li>Mouth ulcers</li>
              <li>Very rarely, racing heart or chest pain</li>
            </ul>
            <h4><span style="text-decoration: underline;">Withdrawal Symptoms</span></h4>
            <p>If you quit "cold turkey", use Quitline services, or join a support group, you may experience nicotine cravings or withdrawal symptoms.</p>
            <h4><span style="text-decoration: underline;">Chances for Success</span></h4>
            <p>Going it alone may not work.<br />Without help, you are less likely to quit for good.</p>
          </div></div>
      </div>
    </div>
    <br />
    <h4><strong>Please either <a href="/" class="btn btn-primary">click here to continue reading more about your options regarding your smoking habits</a> or begin the survey located under "Survey" on the left panel.&nbsp;</strong></h4>
  </div>
</template>
