<template name = "assistanceinfo">
  <div class="head">
    <h1>Quitting Smoking: Getting Assistance</h1>
  </div>
  <div class="yield">
    <p>When you get assistance you go to a doctor or health care provider and ask for help with quitting smoking.</p>
    <p>This could involve:</p>
    <ul>
      <li>Talking to your doctor about different over-the-counter products such as patches or gum and asking for recommendations</li>
      <li>Getting counseling from your doctor that can help you stop smoking</li>
      <li>Getting prescription medication from your doctor to help you stop smoking</li>
      <li>Getting a combination of medication and counseling from your doctor to help you stop smoking</li>
    </ul>
    <br />
    <div class="row">
      <div class="col-left">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 style="text-align: center;">Benefits</h2>
          </div>
          <div class="panel-body">
            <p><span style="text-decoration: underline;">Health</span><br />If you quit, <br />You will have lower risk of serious diseases, such as cancer, heart disease, and stroke.<br />You can add years to your life. <br />This option is recommended by doctors<br /><br /><span style="text-decoration: underline;">Cost</span><br />If you quit,</p>
            <ul>
              <li>You will save money, around $1,814 per year.</li>
              <li>Your insurance may help with the cost.</li>
            </ul>
            <p><span style="text-decoration: underline;">Withdrawal Symptoms</span><br />If you quit using nicotine replacement product or prescription medicines, your nicotine cravings and withdrawal symptoms may be reduced.</p>
            <p><span style="text-decoration: underline;">Support</span></p>
            <ul>
              <li>You will get help from a trained professional who can help deal with setbacks</li>
              <li>Regular appointments will help you stay on track<br /><br /></li>
            </ul>
            <p><span style="text-decoration: underline;">Chances for Success</span><br />You are more likely to quit with assistance from a health care provider than by going it alone<br /># out of 100 people successfully quit with counseling from a physician<br /># out of 100 people successfully quit using a combination of counseling and medication<br /># our of 100 people quit using a combination of counseling and NRT<br /><br /></p>
          </div>
        </div>
      </div>
      <div class="col-right">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 style="text-align: center;">Risks</h2>
          </div>
          <div class="panel-body">
            <p><span style="text-decoration: underline;">Health</span><br />Your appetite may increase</p>
            <p><span style="text-decoration: underline;">Cost</span><br />You may have to pay for things such as nicotine replacement products out of pocket</p>
            <p><span style="text-decoration: underline;">Side Effects</span></p>
            <p>If you quit using prescription medicines, side effects vary depending on the product. They may include:</p>
            <ul>
              <li>Sleep problems</li>
              <li>Dry mouth</li>
              <li>Seizures</li>
              <li>Irregular heartbeat</li>
              <li>Shakiness</li>
              <li>Headache</li>
              <li>Restlessness or irritability</li>
              <li>Nausea</li>
              <li>Shortness of breath</li>
              <li>Upset stomach</li>
              <li>Dizziness</li>
              <li>Skin irritation</li>
              <li>Constipation</li>
            </ul>
            <p><span style="text-decoration: underline;">Withdrawal Symptoms</span><br />If you quit only using counseling you may experience nicotine cravings or withdrawal symptoms.<br /><br /></p>
          </div></div>
      </div>
    </div>
    <br />
    <h4><strong>Please either <a href="/" class="btn btn-primary">click here to continue reading more about your options regarding your smoking habits</a> or begin the survey located under "Survey" on the left panel.&nbsp;</strong></h4>
  </div>
</template>
