<template name="ecig">
  <div class="head">
    <h1>E-Cigarettes: <i>A Closer Look</i></h1>
  </div>
  <div class="yield">
    <h2>What are e-cigarettes?</h2>
    <ul>
      <li>E-Cigarettes use a battery to heat up liquid that usually contains a mixture of nicotine and flavors (called e-liquids).</li>
      <li>E-Cigarette users inhale the vapor from the heated liquid, similar to inhaling smoke from a regular cigarette.</li>
      <li>E-Cigarettes can look like regular cigarettes, but some look very different - some people call these &ldquo;personal vaporizers&rdquo;.</li>
    </ul>
    <br />
    <p>More and more smokers are using e-cigarettes to help them cut down on or quit smoking regular cigarettes</p>
    <br />
    <h2>Did you know?</h2>
    <ul>
      <li>E-cigarettes are <em>not</em> approved by American Medical Association as an effective method to help people stop smoking.</li>
      <li>E-cigarette devices and liquids are not currently regulated by the FDA. This makes it difficult to control the amount of nicotine and other harmful chemicals in e-cigarettes.</li>
      <li>Liquid used in e-cigarettes contains many potentially harmful chemicals and is not just &ldquo;water vapor.&rdquo;</li>
    </ul>
    <br /><br />
    <div class="row">
      <div class="col-left">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 style="text-align: center;">Benefits</h2>
          </div>
          <div class="panel-body">
            <p><span style="text-decoration: underline;">Side Effects</span></p>
            <ul>
              <li>If you quit, you will save money, around $1,814 per year.</li>
              <li>Smoking e-cigarettes may cost less money than continuing to smoke regular cigarettes.</li>
            </ul>
            <br />
            <p><span style="text-decoration: underline;">Withdrawal Symptoms</span><br />Since most e-cigarettes contain nicotine, users may experience less nicotine cravings and withdrawal symptoms than quitting with other methods.</p>
            <br /><br />
          </div>
        </div>
      </div>
      <div class="col-right">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 style="text-align: center;">Risks</h2>
          </div>
          <div class="panel-body">
            <p><span style="text-decoration: underline;">Health</span></p>
            <p>Using e-liquids which contain nicotine can lead to high blood pressure, elevated heart rate, and increased chance of heart disease. E-cig smoke can also expose your lungs to high doses of toxic particles which can cause sore throat, coughing, and difficulty breathing.</p><br />
            <p><span style="text-decoration: underline;">Side Effects</span><br />You may experience side effects such as headache, chest pain, and nausea.</p><br />
            <p><span style="text-decoration: underline;">Chances for Success</span></p>
            <ul>
              <li>There is no clear evidence that e-cigarettes can help smokers quit smoking regular cigarettes.</li>
              <li>Most e-cigarette users also smoke regular cigarettes, which is a sign that e-cigarettes may not help smokers completely quit smoking.</li>
            </ul>
          </div></div>
      </div>
    </div>

    <br />
    <h4><strong>Please either <a href="/" class="btn btn-primary">click here to continue reading more about your options regarding your smoking habits</a> or begin the survey located under "Survey" on the left panel.&nbsp;</strong></h4>
  </div>
</template>
