<template name="login">
  <div class="head">
    <h1>Login</h1>
  </div>
  <!-- <div class="yield">
    {{> LoginModal}}
  </div>
  <div class="logout">
    <button class="btn btn-secondary" id="logout" type="submit">Logout</button>
  </div> -->

<div class="yield">
  <form class="loginModal">
    <button class="btn btn-secondary" id="login" type="submit">Login</button>
  </form>

<div class="modal fade" id="multiModal">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              {{>LoginModal}}
              <div class="logout">
                <button class="btn btn-secondary" id="logout" type="submit">Logout</button>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-lg btn-block"  data-dismiss="modal">Close</button>
            </div>
          </div>
      </div>
  </div>
</div>

</template>
