<template name = "smokeinfo">
  <div class="head">
    <h1>Quitting Smoking: Continuing to Smoke</h1>
  </div>
  <div class="yield">
    <p>When you continue to smoke because either you do not want to quit or because you have tried to quit but were not able to.</p>
    <br />
    <div class="row">
      <div class="col-left">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 style="text-align: center;">Benefits</h2>
          </div>
          <div class="panel-body">
            <p><span style="text-decoration: underline;">Side Effects</span><br />You will not experience any side effects from quitting if you continue to smoke.</p>
            <p><span style="text-decoration: underline;">Withdrawal Symptoms</span><br />You will not experience any withdrawal symptoms from quitting if you continue to smoke.</p>
          </div>
        </div>
      </div>
      <div class="col-right">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 style="text-align: center;">Risks</h2>
          </div>
          <div class="panel-body">
            <p><span style="text-decoration: underline;">Health</span><br />If you continue to smoke,</p>
            <ul>
              <li>Your risk of disease will increase. Half of all smokers will die from smoking-related diseases, such as heart disease, lung cancer, and stroke.</li>
              <li>You will continue to lose years of your life.</li>
              <li>Breathing problems caused by smoking may get worse over time. This can keep you from doing things that you enjoy.</li>
            </ul>
            <p><span style="text-decoration: underline;">Cost</span><br />You will continue to spend money on cigarettes.</p>
            <p><span style="text-decoration: underline;">Doctor Recommendation</span></p>
            <p>This option is not recommended by doctors.</p>
          </div></div>
      </div>
    </div>
    <br />
    <h4><strong>Please either <a href="/" class="btn btn-primary">click here to continue reading more about your options regarding your smoking habits</a> or begin the survey located under "Survey" on the left panel.</strong></h4>
  </div>
</template>
